services:
  - type: web
    name: product-catalog-api
    runtime: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
